{{> header }}

{{> navbar }}

<div class="row row-cols-2">

    <div class"col-8">

        <h1>LOREM IPSUM</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel porta justo, vitae viverra diam. Donec id convallis elit. Maecenas non erat vitae nunc gravida hendrerit eget at mauris. Donec lorem mauris, ultrices sed augue vitae, lacinia pulvinar nunc. Morbi maximus aliquet magna eu rutrum. Ut luctus mi porttitor malesuada ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla tristique tincidunt scelerisque. Phasellus nec lacus mattis, feugiat diam in, rhoncus nibh. Quisque eget sollicitudin tortor. Nulla convallis quis ipsum vel pellentesque. Aliquam pellentesque id dolor ut mollis. Maecenas nibh eros, tempor finibus porttitor sed, cursus eu velit. Nunc iaculis placerat elementum. Suspendisse facilisis ultricies sapien non viverra.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel porta justo, vitae viverra diam. Donec id convallis elit. Maecenas non erat vitae nunc gravida hendrerit eget at mauris. Donec lorem mauris, ultrices sed augue vitae, lacinia pulvinar nunc. Morbi maximus aliquet magna eu rutrum. Ut luctus mi porttitor malesuada ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla tristique tincidunt scelerisque. Phasellus nec lacus mattis, feugiat diam in, rhoncus nibh. Quisque eget sollicitudin tortor. Nulla convallis quis ipsum vel pellentesque. Aliquam pellentesque id dolor ut mollis. Maecenas nibh eros, tempor finibus porttitor sed, cursus eu velit. Nunc iaculis placerat elementum. Suspendisse facilisis ultricies sapien non viverra.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel porta justo, vitae viverra diam. Donec id convallis elit. Maecenas non erat vitae nunc gravida hendrerit eget at mauris. Donec lorem mauris, ultrices sed augue vitae, lacinia pulvinar nunc. Morbi maximus aliquet magna eu rutrum. Ut luctus mi porttitor malesuada ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla tristique tincidunt scelerisque. Phasellus nec lacus mattis, feugiat diam in, rhoncus nibh. Quisque eget sollicitudin tortor. Nulla convallis quis ipsum vel pellentesque. Aliquam pellentesque id dolor ut mollis. Maecenas nibh eros, tempor finibus porttitor sed, cursus eu velit. Nunc iaculis placerat elementum. Suspendisse facilisis ultricies sapien non viverra.</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/fran-borrego.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}